{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="form-container form-small">
        <fieldset class="form-group">
            <legend class="form-title">Check Your Inbox</legend>
                <div class="mb-2">
                    We've emailed you instructions for setting your password. You should receive the email shortly!
                </div>
        </fieldset>
    </div>
{% endblock content %}
