{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="form-container form-small">
        <fieldset class="form-group">
            <legend class="form-title">Password Change</legend>
            <form method="POST">{% csrf_token %}
                {{ form|crispy }}
        </fieldset>
        <button class="btn btn-outline-info form-btn-submit" type="submit">Change My Password</button>
        </form>
        <div class="border-top form-btn-submit">
            <small class="text-muted">
                <p>Forgot Your Password? <a class="ml-1" href="#">Reset Password</a></p>
        </div>
    </div>
{% endblock content %}
