{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block title %}Password Change Successful{% endblock %}

{% block content %}
    <div class="form-container form-small">
        <fieldset class="">
            <legend class="border-bottom form-title">Password Change Successful</legend>
                <div class="mb-2">
                    Your password was changed successfully!
                </div>
        </fieldset>
    </div>
{% endblock content %}
