{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="form-container form-small">
        <fieldset class="form-group">
            <legend class="form-title">Password reset complete</legend>
                <div class="mb-2">
                    Your new password has been set. You can now <a href="{% url 'login' %}">sign in</a>.
                </div>
        </fieldset>
    </div>
{% endblock content %}
