{% load static %}
<!-- This is the header portion of the grid, its a flex-display -->
<!-- flex section 1-->
<div class="dashboard-header-main">
    <div class="dashboard-title display-4"> {{ object.title.title }}</div>
    <div class="dashboard-author-date">
        <div>
            <img class="rounded-circle dashboard-img" src="{{ object.author.profile.image.url }}">
            <a class="dashboard-author" href="{% url 'curricula:user' object.author.username %}">
                {{ object.author.username }}
            </a>
        </div>
        <div class="dashboard-date">created {{ object.date_created|date }}</div>
    </div>
</div>

<!-- flex section 3-->
<div class="dashboard-header-options">
    {% if user.is_authenticated and object.author == user %}
        <!-- New Analysis button -->
        {% if object.has_strand %}
        <a href="{% url 'curricula:analyses:create' object.slug object.pk%}"><button class="btn btn-sm btn-outline-primary dashboard-options-btn"><i class="fas fa-plus"></i> Analysis</button></a>
        {% endif %}
        <!-- Public/Private toggle button -->
        {% if object.public %}
            <button id="btn-public-toggle" class="btn btn-sm btn-success dashboard-options-btn" update-url="{% url 'curricula:toggle_public' object.slug %}"><i class="far fa-eye"></i> <span id="public-toggle-text" class="public"> public </span></button>
        {% else %}
            <button id="btn-public-toggle" class="btn btn-sm btn-danger dashboard-options-btn" update-url="{% url 'curricula:toggle_public' object.slug %}"><i class="far fa-eye-slash"></i> <span id="public-toggle-text" class="private"> private</span></button>
        {% endif %}
        

        <!-- Update button -->
        <a href="{% url 'curricula:update' object.slug %}"><button class="btn btn-sm btn-outline-secondary dashboard-options-btn">Update Curriculum</button></a>
        <!-- Delete button -->
        <a href="{% url 'curricula:delete' object.slug %}"><button class="btn btn-sm btn-outline-danger dashboard-options-btn">Delete Curriculum</button></a>
        {% endif %}
</div>

<script src="{% static 'js/public-private-toggle-controller.js'%}"></script>
