<div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle " type="button" id="CurriculumdropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="CurriculumdropdownMenuButton">
        <li class="dropdown-item"><a href="{% url 'curricula:analyses:create' object.slug object.pk %}">New Analysis</a></li>
        <li class="dropdown-item"><a href="{% url 'curricula:update' object.slug %}">Update Curriculum</a></li>
        <li class="dropdown-item"><a href="{% url 'curricula:delete' object.slug %}">Delete Curriculum</a></li>
    </ul>
</div>
