{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block title %}Delete Curriculum{% endblock %}

{% block content %}
    <div class="form-container form-small">
        <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="form-title">Delete Curriculum</legend>
                <h4>Are you sure you want to delete the curriculum "{{ object.title }}" ?</h4>
            </fieldset>
            <a class="btn btn-outline-secondary form-btn-submit" href="{% url 'curricula:detail' object.slug %}">Cancel</a>
            <button class="btn btn-outline-danger form-btn-submit" type="submit">Yes, Delete!</button>
        </form>
    </div>
{% endblock content %}
