{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock stylesheets %}



{% block title %}Update Curriculum Analysis{% endblock %}

{% block content %}
    <div class="form-container form-small">
        <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="form-title">Update Curriculum Analysis</legend>
                <div class="form-subtitle"><small class="text-muted">Update the analysis for the curriculum <em>"{{ object.get_curriculum_title }}"</em>. Required fields are denoted by an asterisk *.</small></div>

                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info form-btn-submit" type="submit">Update Analysis</button>
        </form>
    </div>
{% endblock content %}
